button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: roboto;
  background-color: transparent;
  color: #F4F2ED;
}
button i {
  background-color: #292929;
  border: 0.1rem solid #3D3D3D;
  margin-right: 0.7rem;
  padding: 0.5rem;
  border-radius: 50%;
}

@font-face {
  font-family: alvy;
  src: url(./assets/alvy.woff);
}
@font-face {
  font-family: roboto;
  src: url(./assets/roboto.woff2);
}
@font-face {
  font-family: satoshi;
  src: url(./assets/Satoshi.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: alvy;
}

section {
  max-width: 1920px;
}

main {
  width: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main .top-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main .top-bottom .top img {
  width: 100%;
  border-radius: 0.7rem;
  margin-bottom: -0.35rem;
}
main .top-bottom .bottom {
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1.7rem;
  background-color: #1E1E1E;
  color: #F4F2ED;
}
main .top-bottom .bottom .title {
  font-family: roboto;
}
main .top-bottom .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .top-bottom .bottom h1 {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0.1rem;
}
main .top-bottom .bottom p {
  font-family: satoshi;
  opacity: 0.6;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
}
main .top-bottom .bottom .para {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main #stats {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: #F4F2ED;
  row-gap: 2rem;
}
main #stats .stat {
  text-align: center;
}
main #stats p {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-family: roboto;
  opacity: 0.6;
  line-height: 1.4rem;
}
main #stats h1 {
  font-family: alvy;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 400;
}
main #vision {
  padding-top: 0;
}
main #ourteam {
  width: 100%;
  color: #F4F2ED;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main #ourteam h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
}
main #ourteam button {
  display: none;
}
main #cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
main #cards .card {
  flex: 1;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
}
main #cards .card:nth-child(1) {
  background-image: url(assets/profile1.webp);
}
main #cards .card:nth-child(2) {
  background-image: url(assets/profile2.webp);
}
main #cards .card:nth-child(3) {
  background-image: url(assets/profile3.webp);
}
main #cards .card .buttons {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
}
main #cards .card .buttons button {
  font-size: 1.3rem;
  font-weight: 100;
}
main #cards .card .buttons button i {
  opacity: 0.6;
  background-color: rgba(225, 225, 225, 0.1);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}
main #cards .card .profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(225, 225, 225, 0.1);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border: 0.1rem solid rgba(225, 225, 225, 0.1);
  border-radius: 0.2rem;
  color: #F4F2ED;
}
main #cards .card .profile h3 {
  font-family: alvy;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.9rem;
}
main #cards .card .profile span {
  font-family: roboto;
  font-size: 0.9rem;
}

@media (min-width: 900px) {
  main .top-bottom {
    flex-direction: row;
  }
  main .top-bottom .top,
  main .top-bottom .bottom {
    width: 50%;
  }
  main .top-bottom img {
    aspect-ratio: 1/1.01;
  }
  main .top-bottom .bottom {
    padding: 3rem;
    justify-content: space-between;
  }
  main .top-bottom .bottom .text {
    gap: 2rem;
  }
  main .top-bottom .bottom h1 {
    font-size: 3.5rem;
    line-height: 3.9rem;
  }
  main .top-bottom .bottom p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  main .top-bottom .bottom .para {
    flex-direction: row;
    gap: 2rem;
  }
  main #stats {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 3rem;
  }
  main #stats h1 {
    font-size: 3.8rem;
    line-height: 3.9rem;
    padding-top: 0.5rem;
  }
  main #philosophy {
    flex-direction: row-reverse;
  }
  main #philosophy p {
    width: 50%;
  }
  main #vision p {
    width: 50%;
  }
  main #ourteam {
    padding: 1rem 3rem;
  }
  main #ourteam h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
  main #ourteam button {
    display: flex;
  }
  main #cards {
    flex-direction: row;
  }
}